.App {
  width: 100vw;
  min-height: 100vh;
  background-color: #f5f5f5;
}

header {
  position: sticky;
  top: 0;
  height: 50px;
  background-color: #dce9f5;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.9;
  z-index: 10;
}

header logo {
  color: black;
  margin-top: 3px;
  margin-left: 15px;
  font-size: 30px;
  font-family: "Abril Fatface", "Helvetica", "Arial", sans-serif;
}

header buttons {
  display: flex;
}
